@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Style Loader Overlay
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
// ALIGN 
.align {
  display: flex;
  justify-content: center;
  width: 100%;
}

.align-ex {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(224, 224, 224);
}