// Queries
$phone: 480px;
$tablet: 786px;
$desktop: 1024px;

$background-color: black;
$font-color: white;
$card-color: black;
$card-background: white;
$action-color: rgb(240, 84, 84);
// Fonts
$primary: '';
$secondary: '';

// Background Images