@import 
    './sass/utilities/custom',
    './sass/components/workouts',
    './sass/components/exercises',
    './sass/components/singleworkout',
    './sass/components/workoutForm',
    './sass/components/exerciseForm',
    './sass/components/login',
    './sass/components/register',
    './sass/components/nav',
    './sass/components/footer',
    
    './sass/utilities/mixins',
    './sass/utilities/variables',
    
    './sass/base/global',
    './sass/base/reset';
    
    
  


.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  color: white;
  background-color: black;
  height: 100vh;
  overflow: scroll;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
