.forms {
  @include modalForm;
  border: 2px inset black;
  align-self: center;
  align-content: center;
  z-index: 1001;
  background-color: darkgray;
  height: auto;
  input {
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    height: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  button {
    align-self: center;
    @include button;
  }
}

.active-ex {
  opacity: .2;
  background-color: rgb(224, 224, 224);
}