.exercise-list-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-bottom: 12%;
  overflow: scroll;
  h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 3% 0;
  }
  h4 {
    font-size: 1.5rem;
  }
}
.exercise-list {
  width: 100%;
  margin-bottom: 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 0;
}
.exercise {
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 1.2;
  font-size: 1.8rem;
  margin-top: 6%;
  width: 95%;
  background-color: white;
  color: black;
}

.upper-exercise {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  div {
    width: 20%;
    padding: 5%;
  }
  .mid {
    width: 80%;
  }
  h3 {
    font-weight: bolder;
    color: black;
  }
}
.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 84, 84);
  color: white;
  font-weight: bold;
  padding: 4%;
  width: 100%;
  div {
    display: flex;
    flex-flow: column;
    margin: 3%;
  }
}

.expanded-left {
  width: 80%;
  .exercise-weight {
    margin-bottom: 2%;
  }
}

.expansion {
  background-color: rgb(240, 84, 84);
  color: white;
  h3 {
    color: white;
  }
  h4 {
    color: white;
  }
}