.forms {
  @include modalForm;
  border: 2px inset black;
  align-self: center;
  align-content: center;
  z-index: 1001;
  height: auto;
  input {
    width: 100%;
    justify-content: center;
    border: 1px solid black;
    margin-top: 2%;
    height: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  button {
    align-self: center;
    @include button;
  }
}
