.footer-container {
  border: 1px solid #000000;
  background-color: black;
  color: white;
  display: flex;
  padding: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
  // margin-top: auto;
  // flex-shrink: 0;
}

