.footer-container {
  border: 1px solid #443d3d;
  background-color: #443d3d;
  color: white;
  display: flex;
  padding: 10%;
  width: 100%;
}

.footer-container .inner-container:after {
  height: 142px;
}

