@keyframes slideInFromTop{
  0% {
    transform: translateY(-150%)
  }
  100% {
    transform: translateY(0)
  }
}

// @media screen and (min-device-width : $phone){}
.login-container {
  background: $base-color;
  color: white;
  display: flex;
  flex-flow: column;
  align-content: center;
  height: 100vh;
  overflow-x: hidden;
  width: 100%;
  p {
    margin-top: 5%;
    animation: .7s ease-out 0s 1 slideInFromTop;
  }

  form {
    h2 {
      font-size: 2rem;
      text-decoration: underline;
    }
    label {
      font-size: 1.5rem;
      margin-bottom: 2%;
    }
    display: flex;
    flex-flow: column;
    align-self: center;
    align-items: center;
    margin-top: 5rem;
    padding: 5%;
    width: 75%;
    border: 10px inset white;
    box-shadow: 8px 3px white;
    color: $font-color;
    line-height: 2;
    animation: 1s ease-out 0s 1 slideInFromTop;
    input {
      margin: 3%, 0;
      height: 2.5rem;
      font-size: 1.2rem;
    }
    button {
      margin-top: 10%;
      border-radius: 8px;
      height: 3rem;
      width: 75%;
    }
    button:hover {
      background-color: $base-color;
      border: 1px solid $base-color;
      color: white;
    }
  }
}