.nav-align {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 100%;
  height: 5rem;
  text-decoration: none;

  h2 {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}


.left-nav {
  width: 100%;
  border-right: 2px solid black;
  padding-top: 5%;
  text-decoration: none;
  background-color: white;

}
.right-nav {
  width: 100%;
  padding-top: 5%;
  background-color: white;
}
.nav-location {
  background-color: $action-color;
  text-decoration: none;
}