.single-workout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  overflow: scroll;
  h2 {
    font-size: 2.5em;
    font-weight: bolder;
    margin: 3% 0;
  }
  form {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
  }
  input {
    margin: 4% 0;
  }

  .back-arrow {
    width: 20%;
    height: 1.5rem;
  }
}